# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/
*.launch
*.iml

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# Spring Boot
.spring-boot-devtools/
/target/
logs/
restart.log

# Application properties
application*.yml
application*.properties

# Spring Tool Suite (STS)
.springBeans/

# Tomcat
logs/
work/
temp/
