.chessboard-row {
  display: flex;
}

.chessboard-cell {
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Chess Merida', sans-serif;
}

button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid  black;
  background-color: #c9c2ae;
}

.green {
  background-color: #095c02;
}

