.chessboard-container {
  display: flex;
  justify-content: center;
}

.chessboard-row {
  display: flex;
}

.chessboard-cell {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  border: 1px ridge  black;
}

.green {
  background-color: green;
}
